/*### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1)*/
/* Rules for all tags */
li{
    list-style: none;
    font-family: "lato", sans-serif;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    
}

/*header*/
.dp_navbar_left a{
    color: white;
}
.dp_navbar_right a{
    color: white;
}


.dp_navbar{
    background-color: #20c063;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px; 
    /*width: 100%;*/
}
.dp_navbar_left{
    display: flex;
    align-items: center;
}

.dp_navbar_left img{
    height: 25px;
}
.dp_navbar_left ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.dp_navbar_right ul{
    display: flex;
    align-items:center ;
    gap: 15px;
}
.dp_spancircle{
    border: 1px white solid;
    padding: 5px;
    border-radius:22px
}
/*header*/

/*main*/
.dp_main_container{
    border-radius: 0px;
}
.dp_main_housegrid{
    border: 2px solid #e8e9ea;
    min-height: 260px;
    background-color: white;
    border-radius: 5px;
}
.dp_section_houses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e8e9ea;
    gap: 10px;
    
}
.dp_section_searchresults{
    display: flex;
    width: 100%;
    gap: 30px;
}
.dp_section_uparrow{
    height: 15px;
    padding: 0px;
}
.dp_section_bedbath h1{
    font-size: 16px;
    font-family: "lato", sans-serif;
      
}
.dp_trulia_houseimage{
   width: 100%;
   max-height: 160px;
   
}
.dp_section_prices{
    display: flex;
    align-items: center;
}
.dp_section_housespecs{
   padding: 0px;
}


.dp_section_prices h1{
    font-size: 16px;
}
.dp_section_detail{
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.dp_section_bedbath{
   display: flex;
   padding: 0px;
   align-items: center;
}

.dp_section_bedbath img{
    height: 15px;
    padding: 0px;
}
main li img{
    object-fit: cover;
}
main li{
    font-size: 14px;
}
.dp_image_1{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_2{
    
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_3{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_4{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_5{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_6{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_7{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_8{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_9{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_10{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_11{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_image_12{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
    min-height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dp_newbox{
    background-color: #20c063;
    color: white;
    width: 40px;
    font-family: "lato", sans-serif;
    font-size: 14px;
}
.dp_saleby{
    background-color: #e8e9ea;
    color: white;
    width: 90px;
    text-transform:uppercase;
    font-family: "lato", sans-serif;
    font-size: 14px;
}
    
    

/*main*/

/* Section 2 */
.dp_sectiontwo {
    width: ;
    margin-top: 20px;
}
.dp_sectiontwo_pages{
    display: flex;
    align-items: center;
    width: 300px;
}
/*.dp_sectiontwo_pages ul{
    padding: 0px;
    margin: 0 auto;
}*/
.dp_sectiontwo_location{
    display: flex;
    align-items: center;
    gap: 0px;
    width: 800px;
    
}

.dp_sectiontwo_location a {
    color:#20c063;
}
.dp_sectiontwo li{
    text-align: center;


}
.dp_sectiontwo_text{
    text-align: center ;
}
.dp_sectiontwo_text ul{
    
    margin: auto;
    padding: 0;
}
.dp_sectiontwo_text ul li{
    padding-top: 20px ;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    font-family: "lato", sans-serif;
}
.dp_sectiontwo_highlights{
    font-family: "lato", sans-serif;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}
.dp_sectiontwo_highlights a {
    color: #20c063;
}

/* footer */
footer{
    background-color: #474E52;
    padding: 10px 0 10px 0
}
.dp_footer_menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}
.dp_footer_menu li{
    margin: 0 auto;
    
}
.dp_footer_menu li a {
    color: white;
}
.dp_footer_copyright{
    color: white;
    text-align: center;
    
}
